.adminDelete{
    position: relative;
    border: 2px solid white;

}
.adminDelete:not(:last-child){
    margin-bottom: 20px;
}
.adminDelete:first-child{
    margin-top: 20px;
}
.deleteButton{
    position: absolute;
    right: 0;
    top: 15px;

}


.DeleteItem-enter {
    opacity: 0;
}
.DeleteItem-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.DeleteItem-exit {
    opacity: 1;
}
.DeleteItem-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}